html {
    background-color: #FFFFFF
}

P {
    color: black;
    font-family: Helvetica, Arial, Georgia;
    font-size: 14px;
    text-align: left;
}
}
#description {
    color: #A3A3A3;
    font-family: Helvetica, Arial, Georgia;
}